@charset 'UTF8';

body {
    height: 100%;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #84E1AD;
}

header {
    border: 10px;
    padding: 2px;
    margin: -22px;
    outline: 10px;
    width: auto;
    height: 100%;
    color: white;
    text-align: center;
    background-image: linear-gradient(to bottom, #45f895, #144C2D);
}

h1 {
    
    background-color: transparent;
    padding: 34px;
    height: 43px;
    text-shadow:0.1em 0.1em rgba(51, 51, 51, 0.322);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Geneva, Verdana, sans-serif;
    font-size: 2.5em;
    font-weight: normal;
}

h2 {
    text-shadow:0.1em 0.1em rgba(51, 51, 51, 0.322);
    border: 10px;
    padding: 2px;
    margin: -22px;
    outline: 10px;
}

nav {
    text-align: left;
    padding: 40px 40px 33px 47px;
    margin: -22px;
    outline: 10px;
}

a {
    padding: 14px 14px;
    color: #31b36b;
    font-style: normal;
    font-weight: bolder;
    text-decoration: none;
    border-radius: 5px 5px 0px 0px;
}

a:hover {
    color: #144C2D;
    background-color: #31b36b;
}